.panel {
    margin: 5% 10% 5% 10%;
    // border: solid black;
    text-align: center;

    h1 {
        margin: 5%;
    }
}

.title h1 {
    font-family: calligraphy;
    // font-size: 700%;
    font-size: 75px;
}

.content h1 {
    font-family: calligraphy;
    // font-size: 700%;
    font-size: 70px;
}